@font-face {
  font-family: "Sansation-Regular";
  src: local("Sansation-Regular"),
    url(../../../public/fonts/Sansation/Sansation-Regular.ttf);
}

.container {
  font-family: "Sansation-Regular", sans-serif;
}
