.container {
  display: flex;
  justify-content: center;
  column-gap: 5px;

  .lol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: #e22f14;
    font-weight: 600;
  }

  .circle {
    width: 38px;
    height: 38px;

    border: 2px solid #e22f14;
    border-radius: 50%;
  }

  .line {
    width: 65px;
    height: 2px;
    background-color: #e22f14;

    margin-top: 18px;
  }
}
